<div class="center jumbotron">
  <h1>
    Blocipedia: Social, Markdown Wikis
  </h1>

  <h2>
     Create and share Markdown Wikis
  </h2>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>