<div class="stats">
  <a href="<%= wiki_collaborators_path(@wiki) %>">
    <strong id="current collaborators" class="stat">
      <%= @wiki.collaborators.count %>
    </strong>
    Current Collaborators
  </a>
</div>