@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 80px;
  margin-left: 60px;
  margin-right: 80px;
}

/* user-info */
.user-info {
   margin-top: 10px;
 }
 
 .nav {
   margin-top: 10px;
 }

 @import "welcome";