/* header */

header {
  float: left;
  margin-right: 10px;
  font-size: 1.1em;
  color: white;
  letter-spacing: -1px;
  &:hover {
  color: white;
  text-decoration: none;
  }
}

.center {
  text-align: center;
}



