/* header */

header {
  float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: white;
  text-decoration: none;
  }
}

.center {
  text-align: center;
}

